@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

:root {
  --primary-color: rgba(221, 124, 55, 1);
  --text-dark: rgba(34, 22, 22, 1);
  --white: rgba(221, 124, 55, 1);
  --max-width: 1200px;
}


.navbar {
    background-color: rgba(34, 22, 22, 1);
}
#titre3,#team
{
    color:rgba(221, 124, 55, 1) ;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-weight: bold;
}

.btn {
    background-color: rgba(34, 22, 22, 1);
    color: azure;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    border: 1px solid beige;
}
.nav-link
{
    color: azure;
}

.form-control {
    
   border-color: rgb(246, 243, 243);
    background-color: rgba(34, 22, 22, 1);
    
}

.navbar-toggler {
    border-color: beige;
}

.navbar-logo {
    height:40px; 
    width: auto;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
a:hover
{
    color: rgba(221, 124, 55, 1);
    transform: scale(1.05);
}
#but
{   border: 1px solide rgba(221, 124, 55, 1);
    color: azure;
    background-color: rgba(221, 124, 55, 1);
    margin-left: 20px;
  
}
#search
{
    margin-right: 20px;
}
#image
{
    width: 80%;
    margin-left: 20%;
}
#page1
{
    margin-top: 5%;
}




a {
  text-decoration: none;
  transition: 0.3s;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color:aliceblue;
}

body::after {
  position: fixed;
  content: "";
  height: 100%;
  width: 0;
  top: 0;
  right: 0;
  background-color: var(--text-dark);
  z-index: -1;

  animation: body-bg 1s ease-in-out forwards;
}

@keyframes body-bg {
  0% {
    width: 0vw;
  }
  100% {
    width: 50vw;
  }
}

body::before {
  position: fixed;
  content: "0";
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  font-size: 70rem;
  font-weight: 200;
  color: var(--white);
  z-index: -1;
  opacity: 0.5;
}
#titre1
{
    margin-left: 40%;
  
   
}

.container {
  position: relative;
  isolation: isolate;
  margin-top: -2%;
  min-height: 85vh;
  max-width: var(--max-width);
  margin-inline: auto;
  overflow: hidden;
}


.letter-s {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40rem;
  line-height: 40rem;
  font-weight: 900;
  color: var(--primary-color);
}

.container img {
  position: absolute;
  width: 100%;
  max-width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 50px rgba(0, 0, 0, 0.8));
}

.container h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5rem;
  color: var(--white);
  letter-spacing: 25px;
}

.text__left {
  transform: translate(calc(-50% - 250px), -50%);
}

.text__right {
  transform: translate(calc(-50% + 250px), -50%);
}

.container .explore {
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 225px));
  color: var(--text-dark);
  background-color: var(--white);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}

.container .print {
  top: 50%;
  right: 0;
  transform: translate(0, -50%) rotate(90deg);
  padding: calc(1rem - 4px) calc(2rem - 4px);
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white);
}

.container .catalog {
  top: 25%;
  left: 0;
  transform: translate(0, -50%) rotate(-90deg);
  padding: calc(1rem - 4px) calc(2rem - 4px);
  color: var(--text-dark);
  background-color: transparent;
  border: 1px solid var(--text-dark);
}

.container h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.2rem;
  font-weight: 500;
}

.container h5::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100px;
  top: 50%;
}

.feature-1 {
  color: var(--text-dark);
  transform: translate(calc(-50% - 300px), calc(-50% - 200px));
}

.feature-2 {
  color: var(--white);
  transform: translate(calc(-50% + 300px), calc(-50% - 200px));
}

.feature-3 {
  color: var(--text-dark);
  transform: translate(calc(-50% - 300px), calc(-50% + 200px));
}

.feature-4 {
  color: var(--white);
  transform: translate(calc(-50% + 300px), calc(-50% + 200px));
}

.feature-1::after,
.feature-3::after {
  right: 0;
  transform: translate(calc(100% + 40px), -50%);
  background-color: var(--text-dark);
}

.feature-2::after,
.feature-4::after {
  left: 0;
  transform: translate(calc(-100% - 40px), -50%);
  background-color: var(--white);
}
